@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
.container11 {
    background-color: #FFDDD2;
    background-image: url("/public/reg-back.jpg");
    background-size: 1800px 900px;
    padding-top: 25px;
    padding-bottom: 60px;
  }
  .container12 {
      display: flex;
      background-color: #e0d2c7;
      margin-left:300px;
      border: 2px solid #06334b;
      border-radius: 7px;
      gap: 10px;
      height: 600px;
      width: 1000px;
      margin-top: 60px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
  
  }
  .reg-logo {
      width: 530px;
      background-color: #06334b;
   
  }
  .img-re-logo
   {
      width: 400px;
      margin-top: 100px;
      margin-left: 60px;
      border-radius: 8px;
  }
  .login-r {
    margin-top: 20px;
    border-radius: 12px;
  
    margin-left: 40px;
}
.reg {
    color: #06334b;
    font-weight: bolder;
    font-size: larger;
}
.reg-btn {
    width: 100px;
    height: 33px;
    border-radius: 4px;
    margin-left: 87px;
    font-size: 1rem;
    cursor: pointer;
    transition: all .3s ease;
}

.reg-btn:hover {
    background-color: #06334b;
    color:azure;
}
.reg {
    margin-left: 25px;
    
}
.reg1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 100px;
}
.recon {
    margin-top: 40px;
    margin-left: 100px;
    font-family: 'Sacramento', cursive;
    font-size: xx-large;
    color: #06334b;
}