.featured{

  width: 92%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  z-index: 1;
}

.featuredItem{
   
  position: relative;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  height: 250px;
  /* padding-left: 14px; */
  align-items: center;
  justify-content: center;
  display: flex;
  flex:1;
  margin: 40px 0;
}
img.featuredImg {
  border-radius: 8px;
    width: 92%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    z-index: -1;
  }
  
  .featuredItem{
    position: relative;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    height: 250px;
    padding-left: 14px;
    flex:1
  }
  img.featuredImg {
    border-radius: 8px;
}

  .featuredImg{
    width: 86%;
    height: 100%;
    object-fit: cover;
  }

.featuredImg{
  width: 86%;
  height: 100%;
  object-fit: cover;
}

.featuredTitles{
  position: absolute;
  bottom: 20px;
  left: 126px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
 