.navbar{
    height: 74px;;
    background-color: #D6b7b5;
    display: flex;
    justify-content: center;
}

.navContainer{
    width: 94%;
    max-width: 1024px;
    color: #06334b;
    display: flex;
    align-items: center;
    justify-content:space-between;

}

.logo{
    font-weight: 700;
    font-size: larger;

    
}
.navbarList {
    
    display: flex;
    gap: 120px;
    margin-bottom: 50px;
    
    
  }
  
  .navbarItem {
    padding-top:22px ;
    display: flex;
    align-items: center;
    gap: 10px;
  }
.navButton{
    margin-left: 20px;
    padding-top:15px ;
    border :2px solid #06334b;
    border-radius: 8px;
    width: 80px;
    height: 30px;
    padding: 5px 10px;
    color:#003580;
    cursor: pointer;
    transition-duration:.56s;
}
.navButton:hover{
    background-color: #06334b;
    color:azure;
}

